In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

matplotlib.use('TkAgg')

data = pd.read_csv('ABC.csv')
data.head()

   SALESPERSON  Old_Scheme  New_Scheme
0            1          57          62
1            2         103         122
2            3          59          54
3            4          75          82
4            5          84          84

In [2]:
t_statistic, p_value = stats.ttest_rel(data['Old_Scheme'], data['New_Scheme'])

print("t-statistic:", t_statistic)
print("p-value:", p_value)

if p_value < 0.05:
    print("The difference is statistically significant.")
else:
    print("There is no significant difference.")

t-statistic: -1.5559143823544377
p-value: 0.13057553961337662
There is no significant difference.